.defaultBackground {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  opacity: 0.4;
  -webkit-filter: blur(1px) grayscale(50%);
          filter: blur(1px) grayscale(50%);
}

.loginBackground {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}