@mixin background {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    filter: grayscale(50%);
}

.defaultBackground {
    @include background;
    opacity: 0.4;
    filter: blur(1px) grayscale(50%);
}

.loginBackground {
    @include background;
}
