@use '@/styles/base/mixins' as *;
@use '@/styles/base/variables' as *;

.customerDetail {
    background: $card-bg;
    border-radius: $border-radius;
    box-shadow: $card-shadow;
    border: 1px solid rgba($primary-color, 0.2);
    padding: 1.5rem;
    width: 500px;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
