@use '@/styles/base/variables' as *;

.customerList {
    padding-top: 2rem;
    min-height: 100vh;
    font-family: $font-family-default;
    position: relative;
    overflow: hidden;
}

.searchGroup {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: $border-radius;
    overflow: hidden;
}

.table {
    border-radius: $border-radius;
    overflow: hidden;
    font-size: 0.95rem;

    th,
    td {
        vertical-align: middle;
        text-align: center;
        padding: 0.75rem;
    }

    tbody tr {
        transition: background-color 0.2s, transform 0.2s;

        &:hover {
            transform: scale(1.01);
        }

        &.expired td {
            background-color: #f8d7da;
            color: #842029;
        }
    }
}
